<h2>Inscrever-Se </h2>
<div class="row">
  <div class="col-md-6">
  <form novalidate name="AddNewForm" id="add-new-form" method="post" action="">
    <div class="form-group">
      <label for="customerName">Nome de Usúario:</label>
      <input class="form-control" type="text" ng-model="usuario.customerName" required />
    </div>
    
    <div class="form-group">
      <label>Senha:</label>
      <input class="form-control" type="password" ng-model="usuario.password" required />
    </div>
    
    
    
    <div class="form-group">
      <label for="email">Email:</label>
      <input class="form-control" type="text" ng-model="usuario.email" required />
    </div>
    
   
    <div class="form-group">
      <label for="Endereço">Endereço:</label>
      <input class="form-control" type="text" ng-model="usuario.address" />
    </div>
    
    <div class="form-group">
      <label for="cidade">Cidade:</label>
      <input class="form-control" type="text" ng-model="usuario.city" required />
    </div>
    
    <div class="form-group">
      <label for="Estado">Estado:</label>
      <input class="form-control" type="text" ng-model="usuario.state" required />
    </div>
    
    <div class="form-group">
      <label for="CEP">CEP:</label>
      <input class="form-control" type="text" ng-model="usuario.postalCode" required />
    </div>
    <button class="btn btn-primary" ng-disabled="AddNewForm.$invalid || isUnchanged(usuario)" id="add-new-btn" ng-click="add_new(usuario)">Salvar!</button>
    <a href="#/" class="btn">Cancel</a>
  </form>
</div>
</div>