<h2>Editar Usuário</h2>
<div class="row">
  <div class="col-md-6">
  <form novalidate  ng-repeat = "usuario in usuario"        name="AddNewForm" id="add-new-form" method="post" action="">
 <input type="hidden" ng-model= "usuario.id" value="{{usuario.id}}" />
    <div class="form-group">
      <label for="customerName">Nome de Usúario:</label>
      <input class="form-control" type="text" ng-model="usuario.customerName" value = "{{usuario.customerName}}" required/>
    </div>
    
    <div class="form-group">
      <label>Repetir Senha:</label>
      <input class="form-control" type="text" ng-model="usuario.password" value ="{{usuario.password}}" required />
    </div>
    
    <div class="form-group">
      <label for="email">Email:</label>
      <input class="form-control" type="text" ng-model="usuario.email" value ="{{usurio.email}}" required />
    </div>
    
   
    <div class="form-group">
      <label for="Endereço">Endereço:</label>
      <input class="form-control" type="text" ng-model="usuario.address" value = "{{usuario.address}}" required/>
    </div>
    
    <div class="form-group">
      <label for="cidade">Cidade:</label>
      <input class="form-control" type="text" ng-model="usuario.city"  value = "{{usuario.city}}" required  />
    </div>
    
    <div class="form-group">
      <label for="Estado">Estado:</label>
      <input class="form-control" type="text" ng-model="usuario.state" value = "{{usuario.state}}" required />
    </div>
    
    <div class="form-group">
      <label for="CEP">CEP:</label>
      <input class="form-control" type="text" ng-model="usuario.postalCode" value = "{{usuario.postalCode}}" required />
    </div>
    
    
    
    <button class="btn btn-primary" ng-disabled="AddNewForm.$invalid || isUnchanged(user)" id="add-new-btn" ng-click="update(usuario)">Update <span class="glyphicon glyphicon-floppy-disk"></span></button>
    <button class="btn btn-danger" ng-click="delete(usuario)">Delete <span class="glyphicon glyphicon-trash"></span></button>
    <a href="#/" class="btn">Cancel</a>
    
  </form>
</div>
</div>